
    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        {{#each menus}}
        <div class="col" data-test-menu>
            <div class="card h-100" role="list-item">
                <div class="card-body">
                    <h2 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">{{this.price}}€</p>
                </div>

                <div class='p-3'>
                    <a href='/commander?menu={{this.id}}' class='btn btn-secondary'>Commander</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
